/* *{
    margin: 0;
}

.box1{
    height: 20px;
} */

#boxparent{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200PX;

}
  
#box-1{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#box-2{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#box-3{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#box-4{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#box-5{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#btn{
display:block;
    margin: 20px auto;

  height: 50px;
  width: 100px;
}